@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@theme {
    --color-background: #fcfcfc;

    --color-neutral-50:  #faf8f4;
    --color-neutral-100: #eeece7;
    --color-neutral-200: #e0dcd6;
    --color-neutral-300: #c8c3ba;
    --color-neutral-400: #ada79c;
    --color-neutral-500: #918b80;
    --color-neutral-600: #756f65;
    --color-neutral-700: #59544b;
    --color-neutral-800: #3f3a33;
    --color-neutral-900: #282520;
    --color-neutral-950: #040503;

    --color-primary-50: #fff1f1;
    --color-primary-100: #ffdfe0;
    --color-primary-200: #ffc5c6;
    --color-primary-300: #ff9d9f;
    --color-primary-400: #ff6467;
    --color-primary-500: #ff3438;
    --color-primary-600: #ed1519;
    --color-primary-700: #c80d11;
    --color-primary-800: #a50f12;
    --color-primary-900: #7b1214;
    --color-primary-950: #4a0506;

    --color-accent-50: #fef9ec;
    --color-accent-100: #fceec9;
    --color-accent-200: #f9da8e;
    --color-accent-300: #f5c254;
    --color-accent-400: #f3aa2c;
    --color-accent-500: #ec8914;
    --color-accent-600: #d1650e;
    --color-accent-700: #ae460f;
    --color-accent-800: #8d3613;
    --color-accent-900: #742d13;
    --color-accent-950: #431605;
}

.display-s {
    @apply text-[2.75rem] font-black font-['Manrope'] leading-11;
}

.heading-l {
    @apply text-[2.25rem] font-extrabold font-['Manrope'] leading-10;
}

.heading-m {
    @apply text-[2rem] font-extrabold font-['Manrope'] leading-8;
}

.heading-s {
    @apply text-lg font-bold font-['Manrope'] leading-loose;
}

.body-l {
    @apply text-base font-bold font-['Inter'] leading-snug tracking-tight;
}

.body-r {
    @apply text-sm font-normal font-['Inter'] leading-snug tracking-tight;
}

.body-s {
    @apply text-xs font-normal font-['Inter'] leading-none tracking-tight;
}

.alert-r {
    @apply text-base font-bold font-mono uppercase;
}

/* Other */

.transition-standard {
    @apply transition-all duration-300 ease-in-out;
}